<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <AutomationComponents>
    <AutomationComponent Type="PSI.Server.ComponentManager, PSI.Server" />
    <AutomationComponent Type="PSI.Server.Eib.EibComponent, PSI.Server">
      <AutoAssignmentNextID>11</AutoAssignmentNextID>
      <DataStorageRequiredInProduction>False</DataStorageRequiredInProduction>
      <DetailLogSettings>
        <ArchiveDirectory>PSI.Server Detail Log Archive</ArchiveDirectory>
        <CleanupIntervalInDays>3</CleanupIntervalInDays>
        <Directory>PSI.Server Detail Log</Directory>
        <Level>Trace</Level>
      </DetailLogSettings>
      <LogSettings>
        <CleanupIntervalInDays>30</CleanupIntervalInDays>
        <Directory>PSI.Server Log</Directory>
        <Level>Equipment</Level>
      </LogSettings>
      <ModelEntryContainerType>PSI.Server.Eib.Model.ComponentModelEntries, PSI.Server</ModelEntryContainerType>
      <SecsLogSettings>
        <LogFilePath>PFSC.SecsLog</LogFilePath>
        <LogHeader>False</LogHeader>
        <RolloverAgeLimit>0</RolloverAgeLimit>
      </SecsLogSettings>
    </AutomationComponent>
    <AutomationComponent Type="PSI.Server.AlarmComponent, PSI.Server">
      <ExposeAlarmEventsToHost>False</ExposeAlarmEventsToHost>
      <IncludeAlarmStateChangesInStatusLog>True</IncludeAlarmStateChangesInStatusLog>
    </AutomationComponent>
    <AutomationComponent Type="PSI.Server.ExceptionReporter, PSI.Server">
      <ExceptionPublisherType>PSI.ExceptionManagement.DefaultPublisher, PSI.Common</ExceptionPublisherType>
      <LogToEventLog>True</LogToEventLog>
      <MaxExceptionParsingDepth>15</MaxExceptionParsingDepth>
      <MaxExceptionParsingNodes>10000</MaxExceptionParsingNodes>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.LogPackageService, PEERFactory.Services">
      <Deployments>
        <Element>Simulation</Element>
      </Deployments>
      <OutputDirectory>PSI.LogPackage</OutputDirectory>
      <PrePackageCommandTimeout>60</PrePackageCommandTimeout>
      <ToolConfigurationDirectories>
        <Element>Server</Element>
        <Element>Server\DCP</Element>
        <Element>Server\EIB</Element>
      </ToolConfigurationDirectories>
      <ToolLogDirectories>
        <Element>Logs\Exceptions</Element>
        <Element>Logs\PSI.Server Detail Log</Element>
        <Element>Logs\PSI.Server Detail Log Archive</Element>
        <Element>Logs\PSI.Server Log</Element>
      </ToolLogDirectories>
      <WebUIDirectory>WebUI\Logs</WebUIDirectory>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.LogPackageService, PEERFactory.Services">
      <Deployments>
        <Element>Release</Element>
      </Deployments>
      <OutputDirectory>\\VPFSEVATBB001\LogPackages</OutputDirectory>
      <PrePackageCommandTimeout>60</PrePackageCommandTimeout>
      <ToolConfigurationDirectories>
        <Element>Server</Element>
        <Element>Server\DCP</Element>
        <Element>Server\EIB</Element>
      </ToolConfigurationDirectories>
      <ToolLogDirectories>
        <Element>Logs\Exceptions</Element>
        <Element>Logs\PSI.Server Detail Log</Element>
        <Element>Logs\PSI.Server Detail Log Archive</Element>
        <Element>Logs\PSI.Server Log</Element>
      </ToolLogDirectories>
      <WebUIDirectory>WebUI\Logs</WebUIDirectory>
    </AutomationComponent>
    <AutomationComponent Type="PSI.Server.Services.OperationalLoggingService, PSI.Server">
      <Logger>
        <FileExtension>txt</FileExtension>
        <FileTimeSynchronizationInHours>1</FileTimeSynchronizationInHours>
        <FlushToFileImmediately>False</FlushToFileImmediately>
        <LoggingDirectory>PSI.OperationalLog</LoggingDirectory>
        <MaximumFileAgeInDays>0</MaximumFileAgeInDays>
        <MaximumFileSizeInMB>100</MaximumFileSizeInMB>
        <MaximumUsedDiskSpaceInMB>1000</MaximumUsedDiskSpaceInMB>
        <MinimumFreeDiskSpaceInMB>100</MinimumFreeDiskSpaceInMB>
        <Mode>File</Mode>
        <TraceSetting>Off</TraceSetting>
      </Logger>
      <RecentStatusMessageCount>10</RecentStatusMessageCount>
    </AutomationComponent>
    <AutomationComponent Type="PSI.Server.UIServices.UIServiceComponent, PSI.Server.UIServices" />
    <AutomationComponent Type="PSI.Server.GrpcServices.GrpcComponent, PSI.Server.GrpcServices">
      <AutoLoginSigningKey>Certificates\server.pfx</AutoLoginSigningKey>
      <GrpcWebProxy>
        <IsEnabled>False</IsEnabled>
      </GrpcWebProxy>
      <WebUIApplication>
        <IsEnabled>False</IsEnabled>
      </WebUIApplication>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.DataStorage.DatabaseConnection, PEERFactory.DataStorage">
      <DataSource>PF-WSC19-QA1\SQLEXPRESS</DataSource>
      <Deployments>
        <Element>Simulation</Element>
      </Deployments>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.DataStorage.DatabaseConnection, PEERFactory.DataStorage">
      <DataSource>VPFSEVATBB001\PEERFACTORY</DataSource>
      <Deployments>
        <Element>Release</Element>
      </Deployments>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.SecurityService, PEERFactory.Services">
      <AllowUsersByCredentialOnly>True</AllowUsersByCredentialOnly>
      <Deployments>
        <Element>Simulation</Element>
      </Deployments>
      <LdapHost>20.0.1.12</LdapHost>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.SecurityService, PEERFactory.Services">
      <AllowUsersByCredentialOnly>False</AllowUsersByCredentialOnly>
      <Deployments>
        <Element>Release</Element>
      </Deployments>
      <LdapHost>10.20.0.11</LdapHost>
    </AutomationComponent>
    <AutomationComponent Type="Evatec.Services.BPSImportService, Evatec.Services">
      <BomHeaders>
        <ExternalId>Article Number</ExternalId>
        <Level>#</Level>
        <Name>Description</Name>
        <NameEnglish>Description English</NameEnglish>
        <ProductGroup>Product Group</ProductGroup>
        <Quantity>Quantity</Quantity>
        <Units>Units</Units>
      </BomHeaders>
      <DataSource>PF-WSC19-QA1\SQLEXPRESS</DataSource>
      <DefaultExecutionTimeout>3600</DefaultExecutionTimeout>
      <Deployments>
        <Element>Simulation</Element>
      </Deployments>
      <HardwareComponentHeaders>
        <ExternalId>Article Number</ExternalId>
        <Manufacturer>Match Code</Manufacturer>
        <Name>Description</Name>
        <NameEnglish>Description English</NameEnglish>
        <ProductGroup>Product Group</ProductGroup>
        <Status>ERP Status BOM</Status>
        <Successor>Replaced by</Successor>
      </HardwareComponentHeaders>
      <HardwareComponentObjectTypeCodes>
        <Element>tae</Element>
        <Element>tbd</Element>
        <Element>tbn</Element>
        <Element>tnh</Element>
        <Element>tre</Element>
        <Element>tzm</Element>
      </HardwareComponentObjectTypeCodes>
      <HardwareComponentProductGroups>
        <Element>bak</Element>
        <Element>cln2</Element>
        <Element>cln3</Element>
        <Element>cln6</Element>
        <Element>ecl</Element>
        <Element>hex3</Element>
        <Element>lls</Element>
        <Element>lls3</Element>
        <Element>msp</Element>
        <Element>sol</Element>
        <Element>data</Element>
        <Element>star</Element>
      </HardwareComponentProductGroups>
      <UserArgCodes>
        <Element>MA</Element>
        <Element>MAExt</Element>
      </UserArgCodes>
      <UserStatusCodes>
        <Element>AKT</Element>
        <Element>VEF</Element>
      </UserStatusCodes>
      <WorkOrderAufartCodes>
        <Element>EA</Element>
        <Element>JA</Element>
        <Element>P</Element>
        <Element>F</Element>
      </WorkOrderAufartCodes>
      <WorkOrderClosedStatuses>
        <Element>Closed</Element>
        <Element>Locked</Element>
      </WorkOrderClosedStatuses>
      <WorkOrderHeaders>
        <ApplicationCode>Project Type</ApplicationCode>
        <ExternalId>Project</ExternalId>
        <OrderName>Project Name</OrderName>
        <Status>Processing Status</Status>
      </WorkOrderHeaders>
    </AutomationComponent>
    <AutomationComponent Type="Evatec.Services.BPSImportService, Evatec.Services">
      <BomHeaders>
        <ExternalId>Article Number</ExternalId>
        <Level>#</Level>
        <Name>Description</Name>
        <NameEnglish>Description English</NameEnglish>
        <ProductGroup>Product Group</ProductGroup>
        <Quantity>Quantity</Quantity>
        <Units>Units</Units>
      </BomHeaders>
      <DatabaseExecutionTimeout>1800</DatabaseExecutionTimeout>
      <DatabaseName>GPSEVA</DatabaseName>
      <DataSource>SQLCLUEVATBB001</DataSource>
      <DefaultExecutionTimeout>43200</DefaultExecutionTimeout>
      <Deployments>
        <Element>Release</Element>
      </Deployments>
      <HardwareComponentHeaders>
        <ExternalId>Article Number</ExternalId>
        <Manufacturer>Match Code</Manufacturer>
        <Name>Description</Name>
        <NameEnglish>Description English</NameEnglish>
        <ProductGroup>Product Group</ProductGroup>
        <Status>ERP Status BOM</Status>
        <Successor>Replaced by</Successor>
      </HardwareComponentHeaders>
      <HardwareComponentObjectTypeCodes>
        <Element>tae</Element>
        <Element>tbd</Element>
        <Element>tbn</Element>
        <Element>tnh</Element>
        <Element>tre</Element>
        <Element>tzm</Element>
      </HardwareComponentObjectTypeCodes>
      <HardwareComponentProductGroups>
        <Element>bak</Element>
        <Element>cln2</Element>
        <Element>cln3</Element>
        <Element>cln6</Element>
        <Element>ecl</Element>
        <Element>hex3</Element>
        <Element>lls</Element>
        <Element>lls3</Element>
        <Element>msp</Element>
        <Element>sol</Element>
        <Element>data</Element>
        <Element>star</Element>
      </HardwareComponentProductGroups>
      <Password>md85NA3%n</Password>
      <QueryBatchSize>5000</QueryBatchSize>
      <UserArgCodes>
        <Element>MA</Element>
        <Element>MAExt</Element>
      </UserArgCodes>
      <Username>peerfactory</Username>
      <UserStatusCodes>
        <Element>AKT</Element>
        <Element>VEF</Element>
      </UserStatusCodes>
      <WorkOrderAufartCodes>
        <Element>EA</Element>
        <Element>JA</Element>
        <Element>P</Element>
        <Element>F</Element>
      </WorkOrderAufartCodes>
      <WorkOrderClosedStatuses>
        <Element>Closed</Element>
        <Element>Locked</Element>
      </WorkOrderClosedStatuses>
      <WorkOrderHeaders>
        <ApplicationCode>Project Type</ApplicationCode>
        <ExternalId>Project</ExternalId>
        <OrderName>Project Name</OrderName>
        <Status>Processing Status</Status>
      </WorkOrderHeaders>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.ToolConnectionManager, PEERFactory.Services">
      <ConnectionTimeout>20</ConnectionTimeout>
      <Deployments>
        <Element>Simulation</Element>
      </Deployments>
      <FileArchiveFolder>Files\Archived</FileArchiveFolder>
      <FileLogFolder>Files\Logs</FileLogFolder>
      <FileWatchFolder>PF-WSC19-QA1\Uploaded</FileWatchFolder>
      <HostAddress>pf-wsc19-qa1</HostAddress>
      <RecipeArchiveFolder>Files\Recipes</RecipeArchiveFolder>
      <ReconnectToolsOnStartup>False</ReconnectToolsOnStartup>
      <StartType>Tray</StartType>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.ToolConnectionManager, PEERFactory.Services">
      <ConnectionTimeout>120</ConnectionTimeout>
      <Deployments>
        <Element>Release</Element>
      </Deployments>
      <FileArchiveFolder>\\VPFSEVATBB001\PF Data</FileArchiveFolder>
      <FileLogFolder>\\VPFSEVATBB001\PF Data\Logs</FileLogFolder>
      <FileWatchFolder>\\VPFSEVATBB001\PF Data\Uploaded</FileWatchFolder>
      <HostAddress>VPFSEVATBB001</HostAddress>
      <RecipeArchiveFolder>\\VPFSEVATBB001\PF Recipes</RecipeArchiveFolder>
      <StartType>Tray</StartType>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.NotificationService, PEERFactory.Services" />
    <AutomationComponent Type="PEERFactory.Services.DataNotificationService, PEERFactory.Services" />
    <AutomationComponent Type="Evatec.Services.EdpService, Evatec.Services">
      <EnableSimulation>False</EnableSimulation>
      <SampleOdpResponseFile>SampleOdpResponse.json</SampleOdpResponseFile>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.EmailService, PEERFactory.Services">
      <Deployments>
        <Element>Simulation</Element>
      </Deployments>
      <GraphApiSettings>
        <ClientId />
        <ClientSecret />
        <TenantId />
      </GraphApiSettings>
      <HtmlTemplateFilePath>EmailTemplate.html</HtmlTemplateFilePath>
      <LogoFilePath>DataFabric_Neg.png</LogoFilePath>
      <Sender>no-reply@pf.com</Sender>
      <SmtpSettings>
        <Address>mail.peergroup.com</Address>
        <EnableSsl>False</EnableSsl>
        <Password />
        <Port>25</Port>
        <Username />
      </SmtpSettings>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.EmailService, PEERFactory.Services">
      <Deployments>
        <Element>Release</Element>
      </Deployments>
      <GraphApiSettings>
        <ClientId />
        <ClientSecret />
        <TenantId />
      </GraphApiSettings>
      <HtmlTemplateFilePath>EmailTemplate.html</HtmlTemplateFilePath>
      <LogoFilePath>DataFabric_Neg.png</LogoFilePath>
      <Sender>noreply.fabric@evatecnet.com</Sender>
      <SmtpSettings>
        <Address>smtp.office365.com</Address>
        <Password>Tru*96vax</Password>
        <Port>587</Port>
        <StartTLS>True</StartTLS>
        <Username>noreply.fabric@evatecnet.com</Username>
      </SmtpSettings>
      <SupportSendAs>False</SupportSendAs>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.GrpcServices.CustomToolMessageService, PEERFactory.GrpcServices" />
    <AutomationComponent Type="Evatec.GrpcServices.AnalysisMessageConverter, Evatec.GrpcServices" />
    <AutomationComponent Type="PSIS.Services.VersionService, PSIS.Services">
      <AdditionalVersionInfo>
        <Element>
          <AssemblyName>PEERFactory.EIB</AssemblyName>
          <Name>EF Server</Name>
        </Element>
      </AdditionalVersionInfo>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.Services.FileCollectionService, PEERFactory.Services">
      <DefaultExecutionTimeout>600</DefaultExecutionTimeout>
    </AutomationComponent>
    <AutomationComponent Type="Evatec.Services.AnalysisRequestGenerator, Evatec.Services" />
    <AutomationComponent Type="PSI.Server.UserSession.ControlToken.ControlTokenService, PSI.Server">
      <AutoGrantControl>False</AutoGrantControl>
      <RequestTimeoutInSeconds>0</RequestTimeoutInSeconds>
      <ToolControlClients>
        <Element>localhost</Element>
      </ToolControlClients>
      <ToolControlMode>Machine</ToolControlMode>
    </AutomationComponent>
    <AutomationComponent Type="Evatec.Services.JobSchedulerService, Evatec.Services">
      <AnalysisJobUrl>http://localhost:5000/analysis/job/{0}</AnalysisJobUrl>
      <CheckForAnalysisJobAllWeekend>True</CheckForAnalysisJobAllWeekend>
      <Deployments>
        <Element>Simulation</Element>
      </Deployments>
      <ExpiredBoxUrl>http://localhost:5000/boxes/view/{0}</ExpiredBoxUrl>
    </AutomationComponent>
    <AutomationComponent Type="Evatec.Services.JobSchedulerService, Evatec.Services">
      <AnalysisJobUrl>https://fabric.evatecnet.com/analysis/job/{0}</AnalysisJobUrl>
      <CheckForAnalysisJobAllWeekend>True</CheckForAnalysisJobAllWeekend>
      <Deployments>
        <Element>Release</Element>
      </Deployments>
      <ExpiredBoxUrl>https://fabric.evatecnet.com/boxes/view/{0}</ExpiredBoxUrl>
    </AutomationComponent>
    <AutomationComponent Type="PEERFactory.GrpcServices.JobMessageConverter, PEERFactory.GrpcServices" />
  </AutomationComponents>
  <AssemblyVersions>
    <Assembly Name="Evatec.GrpcServices" Version="2.10.63" />
    <Assembly Name="Evatec.Services" Version="2.10.63" />
    <Assembly Name="PEERFactory.DataStorage" Version="2.10.63" />
    <Assembly Name="PEERFactory.GrpcServices" Version="2.10.63" />
    <Assembly Name="PEERFactory.Services" Version="2.10.63" />
    <Assembly Name="PSI.Server" Version="1.10.0" />
    <Assembly Name="PSI.Server.GrpcServices" Version="1.10.0" />
    <Assembly Name="PSI.Server.UIServices" Version="1.10.0" />
    <Assembly Name="PSIS.Services" Version="1.5.0" />
  </AssemblyVersions>
</Configuration>