<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="grpc.server" type="PSI.Server.GrpcServices.Configuration.GrpcServerConfiguration, PSI.Server.GrpcServices" />
  </configSections>
  <grpc.server>
    <ports>
      <port host="pf-wsc19-qa1" port="9090" credentials="insecure" />
    </ports>
    <services defaultInterceptors="ex, auth">
      <service type="PEERFactory.GrpcServices.PFAutorizationService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.NotificationService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.SecurityService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.JobService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.ToolConfigService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="Evatec.GrpcServices.FileToolService, Evatec.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.VersionService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.ToolConnectionService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.PFAttributeNotificationService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.ToolService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="PEERFactory.GrpcServices.SupportService, PEERFactory.GrpcServices"
        interceptors="ex" />
      <service type="Evatec.GrpcServices.BpsService, Evatec.GrpcServices"
        interceptors="ex" />
      <service type="Evatec.GrpcServices.AnalysisService, Evatec.GrpcServices"
        interceptors="ex" />
    </services>
    <credentials>
      <sslServerCredentials name="default" certificateChain="certificates\server.crt"
        privateKey="certificates\server.key" />
    </credentials>
    <interceptors>
      <interceptor name="ex" type="PEERFactory.GrpcServices.ExceptionInterceptor, PEERFactory.GrpcServices" />
      <interceptor name="auth" type="PSI.Server.GrpcServices.Authorization.AuthorizationInterceptor, PSI.Server.GrpcServices" />
    </interceptors>
  </grpc.server>
</configuration>
