html,
body,
.markdown-body,
.vscode-body,
.vscode-light,
.vscode-dark,
.vscode-high-contrast {
    background-color: #ffffff !important;
    color: #000000 !important;
}

a {
    text-decoration: none;
    color: #464feb;
}

tr th,
tr td {
    border: 1px solid #e6e6e6;
}

tr th {
    background-color: #f5f5f5;
}
